[workspace]
members = [
    ".",
    "examples/basic-otlp",
    "examples/basic-capnp",
]
resolver = "2"

[package]
name = "opentelemetry-otlp-capnp"
version = "0.1.0"
description = "Exporter for the OpenTelemetry Collector"
readme = "README.md"
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
    "asynchronous",
]
keywords = ["opentelemetry", "capnp", "logging", "tracing", "metrics"]
license = "Apache-2.0"
edition = "2021"
rust-version = "1.75.0"
autotests = false
autobenches = false


[dependencies]
opentelemetry = "0.31.0"
opentelemetry_sdk = "0.31.0"
thiserror = "2.0.17"
tokio = {version = "1.48.0", features = ["sync", "rt"], optional = true }

[dev-dependencies]

[features]

[[example]]
name = "basic-otlp"
path = "examples/basic-otlp"

[[example]]
name = "basic-capnp"
path = "examples/basic-capnp"
