receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317

exporters:
  debug:
    verbosity: basic
    sampling_initial: 0
    sampling_thereafter: 0

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [debug]
  
  telemetry:
    logs:
      level: debug
